@import "tailwindcss";
@plugin "daisyui" {
	themes: lofi --default, black --prefersdark;
    exclude: rootscrollgutter;
}

@plugin "daisyui/theme" {
  name: "lofi";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(94% 0 0);
  --color-base-content: oklch(0% 0 0);
  --color-primary: oklch(15.906% 0 0);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(21.455% 0.001 17.278);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(26.861% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(0% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(79.54% 0.103 205.9);
  --color-info-content: oklch(15.908% 0.02 205.9);
  --color-success: oklch(90.13% 0.153 164.14);
  --color-success-content: oklch(18.026% 0.03 164.14);
  --color-warning: oklch(88.37% 0.135 79.94);
  --color-warning-content: oklch(17.674% 0.027 79.94);
  --color-error: oklch(78.66% 0.15 28.47);
  --color-error-content: oklch(15.732% 0.03 28.47);
  --radius-selector: 2rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
	name: "black";
	default: false;
	prefersdark: true;
	color-scheme: "dark";
	--color-base-100: oklch(0% 0 0);
	--color-base-200: oklch(0.22 0 0);
	--color-base-300: oklch(0.1761 0.0026 145.46);
	--color-base-content: oklch(87.609% 0 0);
	--color-primary: oklch(70% 0.165 254.624);
	--color-primary-content: oklch(12% 0.042 264.695);
	--color-secondary: oklch(81% 0.111 293.571);
	--color-secondary-content: oklch(12% 0.042 264.695);
	--color-accent: oklch(83% 0.128 66.29);
	--color-accent-content: oklch(12% 0.042 264.695);
	--color-neutral: oklch(35% 0 0);
	--color-neutral-content: oklch(100% 0 0);
	--color-info: oklch(45.201% 0.313 264.052);
	--color-info-content: oklch(89.04% 0.062 264.052);
	--color-success: oklch(51.975% 0.176 142.495);
	--color-success-content: oklch(90.395% 0.035 142.495);
	--color-warning: oklch(96.798% 0.211 109.769);
	--color-warning-content: oklch(19.359% 0.042 109.769);
	--color-error: oklch(57% 0.245 27.325);
	--color-error-content: oklch(100% 0 0);
	--radius-selector: 0.5rem;
	--radius-field: 0.25rem;
	--radius-box: 0.5rem;
	--size-selector: 0.21875rem;
	--size-field: 0.21875rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";


.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}